{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Pokedex - Detailed Info {% endblock %}


{% block 'content' %}

<div class="search_container">
        <div class="card-display">
            <div class="normal_sprite">
                <!--Normal Sprite Begin-->
                <div class="sprite_text">
                    Sprite
                </div>
                <div class="sprite">
                    <img src="{{ front_default }}" alt="" id="normal_sprite_space" >
                </div>
                <!--Normal Sprite End-->
            </div>

            <div class="shiny_sprite">
                <!--Shiny Sprite Begin-->
                <div class="sprite_text">
                    Shiny Sprite
                </div>
                <div class="sprite">
                    <img src="{{ shiny_default }}" alt="" id="shiny_sprite_space">
                </div>
                <!--Shiny Sprite End-->
            </div>

            <div class="types">
                <!--Type(s) Begin-->
                <div class="sprite_text">
                    Type (s)
                </div>
                <div class="sprite" id="type_space">
                    <img src="https://images2.imgbox.com/e5/f7/SuyNkdSE_o.png" alt="" class="type_image">
                </div>
                <!--Type(s) End-->
            </div>
        </div>
    </div>
{% endblock %}