{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Pokedex | List
{% endblock %}

{% block 'content' %}
<div class="container" id="pokemons_space">
        <div class="card-container" id="cdc-0">
            <div class="card grass">
                <a href="{% url 'detailed_info' '1'%}"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Pokemon sprite"></a>
                <p>Bulbasaur</p>
            </div>
            <div class="card grass">
                <a href="{% url 'detailed_info' '2'%}"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="Pokemon sprite"></a>
                <p>Ivysaur</p>
            </div>
            <div class="card grass">
                <a href="{% url 'detailed_info' '3'%}"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" alt="Pokemon sprite"></a>
                <p>Venasaur</p>
            </div>
            <div class="card fire">
                <a href="{% url 'detailed_info' '4'%}"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Pokemon sprite"></a>
                <p>Charmander</p>
            </div>
        </div>
</div>

<footer>
        <nav class="footer_bar">
            <span onclick="load_more()">
                Load More
            </span>
        </nav>
</footer>
{% endblock %}