@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #A19E9E;
}

html {
    overflow-x: hidden;
}

.normal {
    background-color: #6767679a !important;
}

.fire {
    background-color: rgba(255, 68, 0, 0.528) !important;
}

.water {
    background-color: #004fcf90 !important;
}

.electric {
    background-color: #f8e8339d !important;
}

.grass {
    background-color: rgba(0, 128, 0, 0.481) !important;
}

.ice {
    background-color: #49b8c492 !important;
}

.fighting {
    background-color: #9c452380 !important;
}

.poison {
    background-color: #72425c89 !important;
}

.ground {
    background-color: #96612f85 !important;
}

.flying {
    background-color: #00ffff7e !important;
}

.psychic {
    background-color: #c12df78e !important;
}

.bug {
    background-color: #2a672ca7 !important;
}

.rock {
    background-color: #6e645a89 !important;
}

.ghost {
    background-color: #5c000289 !important;
}

.dragon {
    background-color: #b09f4182 !important;
}

.dark {
    background-color: #15253e87 !important;
}

.steel {
    background-color: #68767f81 !important;
}

.fairy {
    background-color: #ff349a8d !important;
}

.search_bar {
    margin-top: 10px;
    width: 23.25rem;
    height: 2.375rem;
    background-color: rgb(195, 193, 193);
    border-radius: 5px;
    border: 0px ;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.search_bar > span {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.501);
}

.sprite_text {
    transform: translateY(10px);
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    position: static;
}

.sprite {
    text-align: center;
}

.type_image{
    transform: translateY(15px);
    height: 48px;
}

.shiny_sprite{
    transform: translateY(-15px);
}

.types {
    transform: translateY(-20px);
}

.nav-bar{

    display: grid;
    width: 100vw;
    height: 8vh;
    background-color: #FF0000;
}

.nav-bar > .nav-buttons {
    display: grid;
    place-items: center right;
    height: 100%;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.nav-buttons > p {
    margin-right: 25px;
    word-spacing: 20px;
}

@media (max-width: 768px){
    .nav-bar > .nav-buttons {
        display: grid;
        place-items: center;
        height: 100%;
    }

    .nav-buttons > p {
        margin: 0%;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }
}

main {
    display: flex;
    width: 100vw;
    height: 98vh;
    align-items: center;
    justify-content: center;
}

.pokemon-container {
    display: flex;
    width: 60%;

    /*background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    place-items: center;
    margin-top: 15px;
}

.search_container {
    display: grid;
    place-items: center;
    margin-top: 15px;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: inline-block;
    height: 200px;
    width: 175px;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.card img {
    margin: 20px 0;
}

.card p {
    margin: 0;
    padding: 10px;
    border-top: 1px solid black;
}

.card-display {
    height: 430px;
    width: 400px;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
}

.footer_bar {
    display: grid;
    margin-top: 15px;
    background-color: #ff0000;
    width: 100vw;
    height: 5vh;
    place-items: center;
}

.footer_bar > span {
    font-weight: 500;
    font-size: 17px;
}

.footer_bar > span:hover {
    cursor: pointer;
}