{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--Css Link-->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>
    <!--Nav Bar-->
    <header>
        <nav class="nav-bar">
            <div class="nav-buttons">
                <p>
                    <a href="{% url 'index' %}">Home</a>
                    <a href="https://www.linkedin.com/in/arthur-vitor/" target="_blank">Contact</a>
                    <a href="https://github.com/ArthurVitor/Pokedex" target="_blank">Repository</a>
                    <a href="{% url 'pokemon_info' %}">Search</a>
                </p>
            </div>
        </nav>
    </header>
    <!--Nav Bar-->

{% block 'content' %}

{% endblock %}
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>